<!-- Confirm E-mail -->
<center data-parsed="">
<img style="height:100px;" src="<%=env("APP_URL")%>/hello.gif" alt="" align="center" class="float-center">
 </center>
<table class="spacer">
    <tbody>
        <tr>
            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
        </tr>
    </tbody>
</table>
<table class="row">
	<tbody>
		<tr>
			<th class="small-12 large-12 columns first last">
				<table>
					<tr>
						<th>
							<h5 class="text-center">Здравейте, <strong style="color:#ff5722;"><%=capitalize(user.FirstName)%> <%=capitalize(user.SecondName)%></strong>!</h5>
							<p class="text-center">За да продължите с Garfild, потвърдете E-mail адреса си.</p>
						</th>
						<th class="expander"></th>
					</tr>
				</table>
			</th>
		</tr>
	</tbody>
</table>
<table class="row">
	<tbody>
		<tr>
			<th class="small-12 large-12 columns first last">
				<table>
					<tr>
						<th>
							<center data-parsed="">
								<table class="button float-center">
									<tr>
										<td>
											<table>
												<tr>
													<td style="background:none;border:none;height:36px;"><a href="<%=env("APP_URL")%>/verify/email/<%=token%>" class="buttonLink">ПОТВЪРЖДАВАНЕ НА E-MAIL</a></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</center>
						</th>
						<th class="expander"></th>
					</tr>
				</table>
			</th>
		</tr>
	</tbody>
</table>
<table class="row">
	<tbody>
		<tr>
			<th class="small-12 large-12 columns first last">
				<table>
					<tr>
						<th>
							<h5 class="text-center">Или използвайте следния линк:</h5>
							<p class="text-center"><a href="<%=env("APP_URL")%>/verify/email/<%=token%>">
								<%=env("APP_URL")%>/verify/email/<%=token%>
							</a></p>
						</th>
						<th class="expander"></th>
					</tr>
				</table>
			</th>
		</tr>
	</tbody>
</table>