<%
let pic = individual.Picture.String
if(pic == ""){
    pic = "https://garfild.me/img/def_individual_avatar.png"
}
%>

<center data-parsed=""> <img style="height:48px;border-radius:24px;" src="<%=pic%>" alt="" align="center" class="float-center"> </center>


<table class="spacer">
    <tbody>
        <tr>
            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
        </tr>
    </tbody>
</table>
<table class="row">
    <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <table>
                    <tr>
                        <th>
                            <h5 class="text-center"><strong style="color:#ff5722;"><%=capitalize(sender.FirstName)%> <%=capitalize(sender.SecondName)%></strong> Ви изпрати заявка за лице <%=capitalize(individual.Name)%></h5>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
    </tbody>
</table>
<table class="row">
    <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <table>
                    <tr>
                        <th>
                            <center data-parsed="">
                                <table class="button float-center">
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="background:none;border:none;height:36px;"><a href="#" class="buttonLink">ПРЕГЛЕД</a></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
    </tbody>
</table>