<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width"/>
        <%= partial("foundation.html") %>
        <style>
			.buttonLink {
				background-color: #ff5722;
				font-size: 14px;
				padding: 10px 16px;
				border-radius: 2px;
				font-family: 'Roboto', sans-serif;
			}
		</style>
    </head>
    <body>
		<table class="body" data-made-with-foundation="">
			<tr>
				<td class="float-center" align="center" valign="top">
					<center data-parsed="">
						<!--spacer -->
						<table class="spacer float-center">
							<tbody>
								<tr>
									<td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
								</tr>
							</tbody>
						</table>
						<!--logo-->
						<table align="center" class="container header float-left" style="display:flex;justify-content:center;">
							<tbody>
								<tr>
									<td>
										<table class="row collapse">
											<tbody>
												<tr>
													<th class="small-12 large-12 columns first last" style="padding:16px;">
														<table>
															<tr>
																<th> <img style="height:36px;" src="<%=env("APP_URL")%>/logo.svg" alt=""> </th>
																<th class="expander"></th>
															</tr>
														</table>
													</th>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!---content-->
						<table align="center" class="container body-drip float-center">
							<tbody>
								<tr>
									<td>
										<table class="spacer">
											<tbody>
												<tr>
													<td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
												</tr>
											</tbody>
										</table>
										<%= yield %>
									</td>
								</tr>
							</tbody>
						</table>
					</center>
				</td>
			</tr>
		</table>
    </body>
</html>
 