<table class="row">
    <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <table>
                    <tr>
                        <th>
                            <h5 class="text-center">Добре дошли в Garfild!</h5>
                            <%= if (isCaretaker) { %>
                              <p class="text-center">Успешно потвърдихте Вашия E-mail адрес. Чрез Garfild ще намерите хората, които се нуждаят от Вашата грижа!</p>
                            <% } else { %>
                               <p class="text-center">Успешно потвърдихте Вашия E-mail адрес. Чрез Garfild ще намерите най-подходящите гледачи за Вашите близки!</p>
                            <% } %>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
    </tbody>
</table>
<table class="row">
    <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <table>
                    <tr>
                        <th>
                            <center data-parsed="">
                                <table class="button float-center">
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="background:none;border:none;height:36px;"><a href="<%=env("FRONTEND_URL")%>" class="buttonLink">КЪМ ПРИЛОЖЕНИЕТО</a></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
    </tbody>
</table>